<!DOCTYPE html>{% load i18n %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body style="height:100%; width:100%;">

<div class="col-md-2">
    <ul>
        {% for feed in feeds %}
            {% if feed.id == current_feed.id %}
                <li><a href="{{feed.get_absolute_url}}"><b>{{ feed.name }}</b></a></li>
            {% else %}
                <li><a href="{{feed.get_absolute_url}}">{{ feed.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<div class="col-md-10">
    <table>
        {% for item in feeditems %}
            <tr><td><h3><a href="{{item.link}}">{{item.title}}</a></h3></td></tr>
            <tr><td>{% autoescape off %}<p>{{item.description}}</p> {% endautoescape %}</td></tr>
        {% endfor %}
    </table>
</div>

<span style="font-size:72px;"><a href="{% url 'load-excel' slug=current_feed.slug %}">{% trans 'Load as excel' %}</a></span>
</body>
</html>